.navegacao {
    grid-area: navegacao;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #555;
}

.navegacao > a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #2196f3;
    padding: 5px 10px;
    margin-right: 10px;
}

.conteudo {
    font-size: 2rem;
}

.conteudo > .titulo {
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}

.navegacao > a.verde { background-color: #4CAF50; }
.navegacao > a.vermelho { background-color: #fa0101; }